*{
    font-family: "Azeret Mono", monospace;
    font-style: normal;
  }
/* header section start*/
header{
    background-image: url(../images/Hero-bg.png);
}
header p{
    font-size: 16px;
    font-weight: 400px;
}
header h1{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}
.header{
    background-image: url(../images/Hero-bg.png);
    margin: 150px 0 70px;
}
.banner{
    padding-top: 26px;
    width: 998px;
    margin: 0 auto;
    text-align: center;
}

.contact-btn{
    margin: 32px 0 115px 0;
    font-size: 24px;
    font-weight: 600;
    padding: 21px 24px;
    color: white;
    border-radius: 8px;
    background: #0D1321;
}
/* header section end */


/* main section start */

/* web dev section start */
main{
    width: 1140px;
    margin: 0 auto;
    margin-top: 200px;
}
.dev-sect-title{
    text-align: center;
    margin-bottom: 48px;
}
.dev-sect-title > h3{
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 24px;
}
.dev-section-container{
    gap: 100px;
    display: flex;
    padding: 48px 48px 48px 180px;
}
.dev-section-container3{
    gap: 32px;
    display: flex;
    padding: 48px 48px 48px 180px;
}
.dev-section-items h3{
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.70);
}
.dev-section-items p{
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
}
.dev-section-items button{
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600;
}
/* web dev section end */
/* inspiration section start */
.inspiration-section{
    margin: 150px 0 48px 0;
    text-align: center;
}
.inspiration-section h3{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.inspiration-section p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.iframe{
    padding: 32px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
}
iframe{
    border-radius: 16px;
}
/* inspiration section end */

/* current target section start*/
.target-title{
    margin-bottom: 48px;
    text-align: center;
}
.target-title h3{
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 800;
}
.target-title p{
    font-size: 16px;
    font-weight: 400;
}
.current-item-container{
    display: flex;
    gap: 100px;
    margin-bottom: 110px;
}
.current-items{
    width: 365px;
    margin-top: 40px;
}
.current-items h4{
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 800;
}
.current-items p{
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
}
a{
    color: #0D1321;
    font-size: 16px;
    font-weight: 700;
}
/* current target section end */

/* support-section start */
.support-sect{
    background-image: url(../images/handshake.jpg);
    background-position: center;
    border-radius: 16px;
    margin-bottom: 118px;
    box-shadow: 0px 0px 600px 0px black inset;
}
.support-sect-title {
    border-radius: 16px;
    text-align: center;
    padding: 64px 48px;
}
.support-sect-title h3{
    margin: 0px 0 16px 0px;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}
.support-sect-title p{
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}
#input-text{
    padding: 19px 20px;
    width: 548px;
    border-radius: 8px;
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid rgba(13, 19, 33, 0.15);
}
#submit-btn{
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    width: 120px;
    padding: 17px 20px;
    border-radius: 8px;
}
/* support-section end */

/* main section end */

/* footer start */
footer{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 525px;
}
/* footer end */